.khung {

  margin:0 auto;

  max-width: 900px;

  border: #e5e5e5 2px SOLID;

  box-shadow: 0px 7px 15px 0px rgb(0 0 0 / 40%);
  
  background:#FFFFFF;
  
  position:absolute;
  
  top: 150px;
  
  left: 380px;	
}  

.phai {

  margin: 2% 0;

}

.trai {

  height: 407px;

  border: #e5e5e5 2px SOLID;

  background: url(https://www.analogouscolors.com/image/1080x1920/008b8b.jpg);}

 @media only screen and (max-width: 480px){

   .khung{height: 810px;}

   .phai{width:100%;}

   .trai{width:100%;}

}

 @media only screen and (min-width: 481px){

   .khung {height:410px;}

   .trai{float: left;width:35%;}

   .phai{float: right;width:55%;}

}

.contact-form-box{float: left; width:92%;margin:20px auto;padding:0;}

#ContactForm1_contact-form-name, #ContactForm1_contact-form-email{width: 100%;height:auto;margin: 5px auto 15px;padding: 10px;background: #ebebeb;border: 1px solid #ccc;color:#777;border-radius:3px;box-shadow: 0px 4px 0px 0px #c7c5c7;}

#ContactForm1_contact-form-name:focus, #ContactForm1_contact-form-email:focus, #ContactForm1_contact-form-email-message:focus{background: #fffff7;outline:none}

#ContactForm1_contact-form-email-message{width: 100%;height: 100px;margin: 5px auto;padding: 10px;background: #ebebeb;border: 1px solid #ccc;color:#777;border-radius:3px;box-shadow: 0px 4px 0px 0px #c7c5c7;}

#ContactForm1_contact-form-submit {display:block;height: 35px;float: left;color: #FFF;padding: 0 20px;margin: 0px 5px;cursor: pointer;background-color:#4d90fe;box-shadow: 0px 4px 0px 0px #0f53c0;border:1px solid #357ae8;border-radius:3px;text-shadow:0px 1px 0px #00317f;position: relative;left: 37%;} #ContactForm1_contact-form-submit:hover {background-color:#357ae8;}

#ContactForm1_contact-form-submit:active {position:relative;top:2px;box-shadow: 0px 2px 0px 0px #0f53c0;}

#ContactForm1_contact-form-submit:focus{outline:none}

#ContactForm1_contact-form-reset {display:block;height: 35px;float: left;color: #FFF;padding: 0 20px;margin: 0px 5px;cursor: pointer;background-color:#fe4d4d;box-shadow: 0px 4px 0px 0px #c00f0f;border:1px solid #e83535;border-radius:3px;text-shadow:0px 1px 0px #7f0000;position: relative;left: 37%;} #ContactForm1_contact-form-reset:hover {background-color:#d12020;}

#ContactForm1_contact-form-reset:active {position:relative;top:2px;box-shadow: 0px 2px 0px 0px #0f53c0;}

.submit {float: left;position: relative;left: 39%;}

.reset {float: left;position: relative;left: 41%;}

#ContactForm1_contact-form-error-message, #ContactForm1_contact-form-success-message{width: 100%;margin-top:35px;text-align:left}

@media screen and (max-width: 768px){ .contact-form-box{width:100%;}

#ContactForm1_contact-form-name, #ContactForm1_contact-form-email,#ContactForm1_contact-form-email-message{width: 96%;}

}

@media screen and (max-width: 480px){ 
#ContactForm1_contact-form-name, #ContactForm1_contact-form-email,#ContactForm1_contact-form-email-message{width: 94%;}
}